<div class="container">
  <h1>Add New Beer</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveBeer()" #beerForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="beer.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Brewery</label>
          <input type="text" class="form-control" [(ngModel)]="beer.brewery" name="brewery" required>
        </div>
        <div class="form-group">
          <label for="name">Type</label>
          <input type="text" class="form-control" [(ngModel)]="beer.type" name="type" required>
        </div>
        <div class="form-group">
          <label for="name">Style</label>
          <input type="number" class="form-control" [(ngModel)]="beer.style" name="style" required>
        </div>
        <div class="form-group">
          <label for="name">Location</label>
          <input type="text" class="form-control" [(ngModel)]="beer.location" name="location" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!beerForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
